/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*---------------------------------------------------------------------------------------*/

.nav-link {
    color: #CC5EA3;
}

body {
    background-color: #101010;
    color: ghostwhite;
}

    body a {
        color: #CC5EA3;
    }

.navbar {
    background: black;
}

.navbar-brand {
    color: rgba(50,50,50);
    font-weight: 500;
}

.table > :not(caption) > * > * {
    color: ghostwhite;
    background-color: inherit;
}

.btn-babi {
    background-color: hotpink;
    color: floralwhite;
}

    .btn-babi:hover {
        background-color: lightpink;
        color: floralwhite;
    }

/*.bg-pinkglow {
    background: url("../Utils/bg.png");
    background-color: #252526;
}*/
