@model FIT5032_Project.Models.DoctorInfoModel

@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main aria-labelledby="title">
    <h2>About Us</h2>
    <h3>Our Doctors</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Doctor</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var doctor in ViewBag.DoctorInfo)
            {
                <tr>
                    @*<td>
                        <img class="img-thumbnail" src="@Url.Content("~/Uploads/" + @doctor.Path)" />
                    </td>*@
                    <td>@doctor.Name</td>
                    <td>@doctor.Rating / 5</td>
                </tr>
            }
        </tbody>
    </table>


</main>