

@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main aria-labelledby="title">
    <div class="about">
        <h2>@ViewBag.Title</h2>

        At Sakura MRI Clinic, our mission is to streamline the healthcare experience for both doctors and patients through a user-friendly web platform.
        Our versatile platform is designed to cater to various devices, ensuring convenience and accessibility.
        Beyond appointment scheduling, we offer additional features like email communication, patient ratings, and interactive maps, all aimed at enhancing the overall healthcare journey.
        We're here to make your medical experience seamless and efficient.


    </div>
    <div class="about">
        <h2>Contact</h2>
        <address>
            <p>Wellington Road Clayton, VIC 3800 Australia</p>
            <p><strong>Phone: </strong> 9902 6011</p>


        </address>

        <address>
            <strong>Email: </strong><a href="mailto:admin@sakuramri.com">admin@sakuramri.com</a><br />
        </address>
    </div>

</main>