

@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main aria-labelledby="title">
    <h2>About Us</h2>

    <br />

    Sakura MRI Clinic is dedicated to providing a service for both doctors<br />
    and patients to easily make appointments via a web platform. The platform<br />
    is suitable for use across different devices. The service also provides<br />
    other useful functionalities such as email, rating and map features.

</main>